// Google Fonts
@font-face {
  font-family: 'Droid Sans';
  src:url(asset-path("../assets/DroidSans.ttf")) format("truetype");
}

// Font Variables
$roboto-slab: 'Droid Sans', serif;
$open-sans:  'Droid Sans', sans-serif;

@import 'makepure/base';
@import 'makepure/buttons';
@import 'makepure/forms';
@import 'makepure/grids';
@import 'makepure/grids-responsive';
@import 'makepure/menus';
@import 'makepure/tables';
@import 'makepure/modals';
